<% content_for :title, "Browse Topics" %>
<%= stylesheet_link_tag 'contentpage.css' %>

<div id="content-header">
    <h1>Topics</h1>
</div>

<div id="content">
    <ul>
        The following topics are currently available:
        <% @topics.each do |topic| %>
            <li>
                <a href = "./<%= topic.id %>">
                    <%= topic.title %>
                </a>
            </li>
        <% end %>
    </ul>
</div>