<% content_for :title, "Browse Topics" %>
<%= stylesheet_link_tag 'contentpage.css' %>
<%= stylesheet_link_tag 'topics/index.css' %>

<div id="page-content">
    <div id="content-header" class="content-tile">
        <h1>Topics</h1>
    </div>

    <div id="content" class="content-tile">
        <h2 class="tile-header">Browse Topics</h2>
        <ul>
            The following topics are currently available:
            <% @topics.each do |topic| %>
                <li>
                    <a href = "./<%= topic.id %>">
                        <%= topic.title %>
                    </a>
                </li>
            <% end %>
        </ul>
    </div>

    <div id="content-about" class="content-tile">
        <h2 class="tile-header">About</h2>
        <p>
            This is my Honors 4990 Project.
        </p>
    </div>
</div>