<h1>Topic</h1>
<h2><%= @topic.title %></h2>
<a href = "/topics">Back to Topics List</a>
<% renderer = Redcarpet::Render::HTML.new(render_options = {
    escape_html: true,
}) %>
<%= raw Redcarpet::Markdown.new(renderer, extensions = {
    fenced_code_blocks: true,
}).render(@topic.content) %>